body {
    font-family: "Noto Sans SC";
    margin: 0;
    padding: 0;
    background-color: #6462ba;
    color: #f5f3f5;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Чтобы страница занимала минимум 100% высоты видимой области */
}

.registration-form {
    max-width: 800px;
    padding: 20px;
}

.log-in-input {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Выравнивание заголовка по центру */
}

.input-fields {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.input-fields label {
    display: block;
    margin-bottom: 5px;
}

.input-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5f3f5;
    border-radius: 5px;
    font-weight: bold;
}

.input-fields select {
    width: 106%;
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid #f5f3f5;
    border-radius: 5px;
    font-weight: bold; 
}

.login-button {
    font-size: 24px;
    color: #6462ba;
    background-color: #f5f3f5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 103%;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #ffffffac;
}

.back-link-container {
    position: absolute;
    top: 30px;
    left: 30px;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff; /* Цвет текста */
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}

.back-link img {
    width: 50px;
    height: 50px;
    margin-right: 5px; 
    background-color: transparent;
}
.back-link img:hover {
    width: 65px;
    height: 65px;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(199, 15, 15);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: none; /* Начальное состояние: невидимый */
    opacity: 0; /* Прозрачность 0 */
    transition: opacity 0.5s; /* Анимация изменения прозрачности */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-content {
    text-align: center;
}

.choice-text {
    font-family: "Noto Sans SC";
    font-weight: bold;
}

.big-text {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

.small-text {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.data-field {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding-top: 0px; /* Паддинг сверху */
    padding-bottom: 0px; /* Паддинг снизу */
    padding-left: 10px; /* Паддинг слева */
    padding-right: 10px; /* Паддинг справа */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-label {
    font-size: 24px;
    color: #6462ba;
    font-weight: bold;
}

.data-value {
    font-size: 24px;
    color: #6462ba;
    font-weight: bold;
}

.hidden {
    display: none;
}