<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/register_choice.css">
    <title>Вариант регистрации</title>
</head>
<body>
    <div class="back-link-container">
        <button id = "back-link" class="back-link">
            <img src="../../static/resurce/icons8-назад-100.png" >
        </button>
    </div>
    <div class="container">
        <div class="center-content">
            <div class="choice-text">Выберите вид аккаунта:</div>
            <button id = "choice-button-1" class="choice-button-1">Исполнитель</button>
            <button id = "choice-button-2" class="choice-button-2">Заказчик</button>
        </div>
    </div>
    <script src="../../static/js/register_choice.js"></script> 
</body>
</html>