<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/register_worker.css">
    <title>Регистрация исполнителя</title>
</head>
<body>
    <div class="back-link-container">
        <button id = "back-link" class="back-link">
            <img src="../../static/resurce/icons8-назад-100.png" >
        </button>
    </div>
    <div id="registration-form" class="registration-form">
        <h1 class="log-in-input">Создание аккаунта исполнителя</h1>
        <form  method="POST">
            <div class="input-fields">
                <div class="column">
                    <label for="last_name">Фамилия:</label>
                    <input type="text" id="last_name" name="last_name" placeholder="" required>
                    <label for="first_name">Имя:</label>
                    <input type="text" id="first_name" name="first_name" placeholder="" required>
                    <label for="phone">Телефон:</label>
                    <input type="text" id="phone" name="phone" placeholder="" required>
                </div>
                <div class="column">
                    <label for="email">Почта:</label>
                    <input type="text" id="email" name="email" placeholder="" required>
                    <label for="accountType">Компания:</label>
                    <select id="accountType" name="accountType">
                        <option value="Company_1">Компания 1</option>
                        <option value="Company_2">Компания 2</option>
                    </select>
                    <label for="companyCode">Код компании:</label>
                    <input type="password" id="companyCode" name="companyCode" placeholder="" required>
                </div>
            </div>
            <div>
                <button class="login-button" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="center-content hidden">
            <div class="choice-text big-text">
                Регистрация успешна!
            </div>
            <div class="choice-text small-text">
                Ваши данные для входа в систему:
            </div>
            <div class="data-field">
                <p class="data-label">ID: <span class="data-value" id="worker-id"></span></p>
            </div>
            <div class="data-field">
                <p class="data-label">Пароль: <span class="data-value" id="worker-password"></span></p>
            </div>
            <div class="choice-text small-text">
                Сохраните данные для <br>дальнейшей работы.
            </div>
        </div>
        </div>
    </div>
    <div id="email-exist-error" class = "notification" >
        Пользователь с таким email уже зарегистрирован.
    </div>
    <div id="code-none-error" class = "notification" >
        Неверный код компании.
    </div>

    <script src="../../static/js/register_worker.js"></script> 
</body>
</html>
